<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.rongcloud.rtc.wrapper.flutter">

    <application>
        <meta-data
            android:name="rc.rtcwrapperflutter"
            android:value="cn.rongcloud.rtc.wrapper.flutter.Version" />
    </application>

</manifest>
